<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/admin.css" />
        <title>Home da admin</title>
    </head>
    <body>
        <div class="login">
            <h2>Admin</h2>
            <label for="email_login">Email</label>
            <input type="text" name="" id="email" />
            <label for="password">Senha</label>
            <input type="password" name="" id="password" />
            <input type="button" value="Entrar" onclick="signIn()" />
        </div>
        <!--login-->
        <script src="/js/admin.js"></script>
    </body>
</html>
