<!DOCTYPE html>
<html lang="pt-br">

<head>

    <title>Pagina não encontrada!</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    html {
        height: 100%;
        width: 100%;
        position: relative;

    }

    .error {
        position: absolute;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .error h3 {
        margin-top: 5px;
    }
</style>

<body>
    <div class="error">
        <span>
            <h1>
                Error: 404
            </h1>
        </span>
        <h2>Ops... A pagina não foi encontrada !!!</h2>
        <h3>Clique <a href="/"> aqui</a> para voltar para a home</h3>
    </div>
</body>

</html>